@model EMarketing.Models.tbl_admin
@using (Html.BeginForm())
{
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login Form</title>
        <link rel="stylesheet" href="~/Content/StyleSheet1.css">
    </head>
    <body>
        <div class="container">
            <form id="loginForm">
                <h2>Login</h2>
                <div class="input-group">
                    <table>
                        <tr>

                            <td>@Html.LabelFor(e => e.ad_username)</td>
                            <td>@Html.EditorFor(e => e.ad_username)</td>
                            <td> <span style="color:red">@Html.ValidationMessageFor(e => e.ad_username)</span></td>

                        </tr>
                    </table>

                </div>
                <div class="input-group">
                    <table>
                        <tr>

                            <td>@Html.LabelFor(e => e.ad_password)</td>
                            <td>@Html.PasswordFor(e => e.ad_password)</td>
                            <td> <span style="color:red">@Html.ValidationMessageFor(e => e.ad_password)</span></td>
                        </tr>
                    </table>

                </div>
                <input type="submit" value="Login" />
                <p style="color:red">@ViewBag.error</p>
            </form>
        </div>
        <script src="~/Content/JavaScript.js"></script>
    </body>
</html>
}